/* Google Fonts -  - */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
body {
    background-color: #fff;
}
body .background {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background-Blur.svg");
    background-size: cover;
    background-position: center center;
}
.text {
    margin-bottom: 40px;
    text-align: center;
}
.text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.text h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.text p {
    font-size: 22px;
    font-weight: 500;
}
@media (max-width: 767px) {
    
}